<%= erb :head %>
<%= erb :navigation %>
<script>
  var tutors=<%=@tutors%>;
  var groups=<%=@groups%>;
</script>
    
<div class="container-fluid">
  
  <div class="row-fluid">
    <div class="span10 offset1">
      
      <h1> Manage a Tutor Assignment Problem </h1>
      
      <script id="tutors-template" type="text/x-handlebars-template">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th> Name </th>
            <th> Email </th>
            <th> Avail. Groups </th>
            <th> &nbsp; </th>
          </tr>
        </thead>
        <tbody>
          {{#each tutors}}
          <tr>
            {{#with this}}
            <td>{{name}}</td>
            <td>{{email}}</td>
            <td>{{gcount}}</td>
            <td><a href="/vote/{{id}}/{{access_code}}">vote</a></td>
            {{/with}}
          </tr>
          {{/each}}
        </tbody>
      </table>
      </script>
      
      <div id="tutors"></div>            

      <p>
        <button type="button" id="emailAll" class="btn btn-primary" data-loading-text="Emailing...">Email Everyone NOW</button>
        <button type="button" id="solve" class="btn btn-primary" data-loading-text="Solving...">Solve</button>
      </p>        
      
      <div id="calendar"></div>
      
    </div>
  </div>
  
</div>

<%= js :app %>
<%= js :manage %>
<%= erb :foot %>