<%= erb :head %>
<%= erb :navigation %>

<script>
var name='<%=@name%>'
var hash='<%=@hash%>';
var groups=<%=@groups%>;
var avail=<%=@avail.nil? ? "{}" : @avail %>;
</script>
    
<div class="container-fluid">
  
  <div class="row-fluid">
    <div class="span8 offset2">
      
      <h1> Vote in a Tutor Assignment Problem - <span id="name"></span> </h1>
      
      <p>Mark all slots which <strong>DO NOT</strong> work for you as red and submit. </p>
      
      <p>Usually, every click
        is automatically propagated back to the server, an indicator should show up once saving was successful.
        You can come back any time as often as you want. DO NOT share the link, whoever has the link can vote for you.</p>
        
      <div id="calendar"></div>
      
      <p>        
      <form>
        <input type="submit" value="Submit">
      </form>
      </p>
      
      <span id="status"></span>
      
    </div>
  </div>
  
</div>

<%= js :app %>
<%= js :vote %>
<%= erb :foot %>